<h3>books</h3>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">Fetch</button>
      |
      <button class="btn btn-danger" (click)="onClearPosts()">Clear</button>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="httperror">
    <h1>Error ocured</h1>
    <p>{{ httperror }}</p>
    <button class="btn btn-danger" (click)="onHandlingError()">Clear</button>
  </div>
  <div *ngIf="isFetch && !httperror">Loding...</div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div *ngIf="loadedPost.length < 1">
        <p>No posts available!</p>
      </div>
      <div *ngIf="loadedPost.length > 1">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let post of loadedPost">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
